body {
  background: #F7F7F7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
}

.container-body {
  margin: 0 auto;
  max-width: 1500px;
}

.dropdown-menu {
  border: none;
}

img {
  width: 100%;
}

button:hover {
  background: red;
}
button:focus {
  outline: none;
}

a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.8;
  color: #9f224e;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

.button-top {
  position: fixed;
  right: 40px;
  bottom: 50px;
  text-transform: uppercase;
  color: #fff;
  background: #9f9f9f;
  padding: 10px;
  font-family: -webkit-body;
  z-index: 99999;
  cursor: pointer;
  transition: 1s;
  font-weight: 600;
}

.header-logo {
  font-family: cursive !important;
}

.banner img {
  width: 100%;
  max-height: 200px;
}
.banner h2 {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  top: 50px;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.navbar-default {
  z-index: 1 !important;
}

@keyframes move {
  0% {
    top: 0px;
    left: 0px;
    color: #9f224e;
  }
  10% {
    top: 0px;
    left: 400px;
    color: green;
  }
  40% {
    top: 100px;
    left: 400px;
    color: blue;
  }
  100% {
    top: 0px;
    left: 0px;
    color: #8fdf6e;
  }
}
.header {
  position: sticky;
  top: 0;
  z-index: 99999;
}
.header .container {
  height: auto !important;
}

.navbar-brand {
  font-size: 30px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.main {
  min-height: 80vh;
}
.main .home {
  margin-bottom: 100px;
}
.main .home #carousel-banner li.item-o {
  border: 1px solid #000000;
}
.main .home #carousel-banner li.active {
  background: #000000;
}
.main .home .box-banner-top {
  background: #fff;
  box-shadow: 2px 3px 10px 1px #f2f2f2;
  margin-bottom: 80px;
  margin-top: 50px;
}
.main .home .box-banner-top .box-right h3 {
  font-weight: 600;
}
.main .home .box-banner-top .box-right h3:hover {
  color: #9f224e;
}
.main .home .box-banner-top .box-left {
  padding: 0;
}
.main .home .box-content {
  clear: both;
}
.main .home .box-content img {
  width: 100%;
}
.main .home .box-content .content-left {
  padding: 0;
}
.main .home .box-content .content-left .box-item-category {
  padding: 0;
  background: #fff;
  box-shadow: 2px 3px 10px 1px #f2f2f2;
  margin-bottom: 20px;
}
.main .home .box-content .content-left .box-item-category .right {
  margin-top: -4px;
  padding: 0 15px 15px 15px;
}
.main .home .box-content .content-left .box-item-category .title:hover {
  color: #9f224e;
}
.main .home .box-content .content-left .box-item-category h3 {
  font-size: 20px;
  font-weight: 600;
}
.main .home .box-content .content-left .box-item-category .title-category {
  font-size: 23px;
  text-transform: uppercase;
}
.main .home .box-content .content-left .box-item-category .title-category:before {
  content: "";
  width: 20%;
  border-top: 4px solid #9f224e;
  position: absolute;
  bottom: 0;
}
.main .home .box-content .content-right {
  padding-right: 0;
}
.main .home .box-content .content-right .view-all-post a {
  color: #9f224e;
}
.main .home .box-content .content-right .box-content {
  background: #fff;
  padding: 20px;
}
.main .home .box-content .content-right .box-content .box-item {
  clear: both;
}
.main .home .box-content .content-right .box-content .box-item .media-left {
  width: 30%;
}
.main .home .box-content .content-right .box-content .box-item .media-body .media-heading {
  font-weight: 600;
  font-size: 21px;
}
.main .home .box-content .content-right .box-content .box-item .media-body .media-heading:hover {
  color: #9f224e;
}
.main .home .box-content .content-right .box-content .title-category {
  position: relative;
  padding-bottom: 15px;
  margin-top: 0;
  float: left;
  margin-bottom: 30px;
  font-weight: 600;
}
.main .home .box-content .content-right .box-content .title-category:before {
  content: "";
  border-top: 3px solid #9f224e;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.main .home .box-content .content-right .box-content .view-all-post {
  float: right;
}
.main .home .box-highlights {
  background: #fff;
}
.main .home .box-highlights strong {
  font-size: 35px;
  padding: 0 15px;
}
.main .home .box-highlights .title-top {
  color: #9f224e;
}
.main .home .box-highlights h4:hover {
  color: #9f224e;
}
.main .home .box-highlights .title {
  font-weight: 600;
}
.main .home .box-highlights h3 {
  font-weight: 600;
}
.main .home .box-highlights .title-comment, .main .home .box-highlights .title-like {
  font-size: 20px;
}
.main .home .box-highlights .box-item {
  background: #fff;
}
.main .home .box-highlights .box-item .caption {
  min-height: 200px;
}
.main .home .box-highlights ul {
  padding: 0;
}
.main .home .box-highlights ul li {
  padding: 0 15px;
  list-style: none;
}
.main .home .box-relate-to {
  margin-top: 50px;
}
.main .home .box-relate-to h3:hover {
  color: #9f224e;
}
.main .home .box-relate-to .thumbnail {
  border: none;
}
.main .home .box-relate-to .thumbnail .caption {
  min-height: 200px;
}
.main .home .box-relate-to .thumbnail .caption h3 {
  font-size: 16px;
  font-weight: 600;
}
.main .home .box-relate-to .title-top h3 {
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.main .home .box-relate-to .title-top h3:after {
  margin: 0 auto;
  content: "";
  border-bottom: 3px solid #9f224e;
  width: 120px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.main .post-detail {
  margin-top: 40px;
  margin-bottom: 100px;
}
.main .post-detail .box-left {
  background: #fff;
}
.main .post-detail .box-left .top {
  margin-top: 30px;
  padding-bottom: 30px;
}
.main .post-detail .box-left .top .category {
  float: left;
}
.main .post-detail .box-left .top .category a {
  color: #9f224e;
}
.main .post-detail .box-left .top .date {
  float: right;
  font-weight: 600;
}
.main .post-detail .box-left .image {
  margin: 30px 0;
}
.main .post-detail .box-left .title {
  clear: both;
  font-weight: 600;
}
.main .post-detail .box-left .form {
  margin-bottom: 40px;
}
.main .post-detail .box-left .form button:focus {
  outline: none;
}
.main .post-detail .box-left .comment .input-form {
  margin-bottom: 15px;
}
.main .post-detail .box-left .comment .parent .action {
  float: right;
}
.main .post-detail .box-left .comment .parent .action a:hover {
  color: #9f224e;
}
.main .post-detail .box-left .comment .parent .media-heading {
  float: left;
}
.main .post-detail .box-left .comment .parent p {
  clear: both;
}
.main .post-detail .box-left .comment .parent .media-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main .post-detail .box-left .comment .parent .media-body h5 {
  font-weight: 600;
}
.main .post-detail .box-left .comment .parent .media-body span {
  margin-right: 15px;
}
.main .post-detail .box-left .comment .parent .media-body span a {
  color: #8d8d8d;
}
.main .post-detail .box-left .comment .parent .media-body .child {
  padding-left: 13px;
  margin-top: 10px;
  border-left: 2px solid #c3c3c3;
}
.main .post-detail .box-left .shore-more {
  margin: 30px 0;
}
.main .post-detail .box-left .shore-more a {
  display: block;
  padding: 10px 5px;
  background: #f7f7f7;
  color: #007bff;
  font-weight: 600;
  transition: 0.9s;
}
.main .post-detail .box-left .shore-more a:hover {
  background: #087CCE;
  color: #fff;
}
.main .post-detail .box-right .title {
  margin: 0 0 20px;
  padding: 0;
  font-weight: 600;
  color: #9f224e;
}
.main .post-detail .box-right .thumbnail {
  border: none;
}
.main .post-detail .box-right .thumbnail .caption h4 {
  font-weight: 600;
}
.main .post-detail .box-right h4:hover {
  color: #9f224e;
}
.main .search .input-group {
  border-radius: 10px;
}
.main .search .input-group .form-control {
  border-radius: 5px 0px 0px 5px;
  height: 50px;
}
.main .search .input-group .btn-default {
  height: 50px;
}
.main .search button:focus {
  outline: none;
}
.main .search .title-search {
  margin-bottom: 50px;
  position: relative;
  font-weight: 600;
}
.main .search .title-search:after {
  content: "";
  position: absolute;
  border-top: 4px solid #9f224e;
  bottom: -15px;
  left: 0;
  right: 0;
  width: 90px;
  margin: 0 auto;
}
.main .search .quick-search ul {
  margin: 0;
  padding: 0;
}
.main .search .quick-search ul li {
  list-style: none;
  background: #fff;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.main .search .quick-search ul li a {
  display: block;
  padding: 10px;
  color: #6c757d;
  box-shadow: 1px 1px 5px 1px #c6c6c6;
}
.main .list-post-category {
  font-family: "Merriweather", serif;
}
.main .list-post-category .title-category {
  color: #9f224e;
}
.main .list-post-category .banner-category {
  background-color: #e3e3e3;
}
.main .list-post-category .banner-category .media-body {
  padding: 15px 15px;
}
.main .list-post-category .box-baner {
  padding: 0;
}
.main .list-post-category .title-category-relate {
  color: #000000;
  position: relative;
  float: left;
  padding-bottom: 2px;
  margin-top: 0;
}
.main .list-post-category .title-category-relate:before {
  content: "";
  border-top: 1px solid #9f224e;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.main .list-post-category .box-left {
  border-right: 1px solid #d0d0d0;
}
.main .profile .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.main .profile .box-content {
  margin-bottom: 50px;
}
.main .profile .box-content .title-content {
  margin-top: 0;
}

#search-icon {
  width: 75%;
}

.footer {
  border-top: 2px solid #e0e0e0;
  clear: both;
  min-height: 100px;
  background: #fff;
}
.footer a {
  font-family: system-ui;
}
.footer h3 {
  font-weight: 600;
}
.footer h4 {
  line-height: 100px;
}
.footer .container-footer {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 70px;
}
.footer .container-footer ul {
  padding: 0;
  margin: 0;
}
.footer .container-footer ul li {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .banner-category .media-left {
    padding: 0;
  }

  #search-icon {
    width: 5%;
  }

  .banner {
    display: none;
  }
}

/*# sourceMappingURL=master.css.map */
