body {
    font-family: Roboto, Sans-Serif;
    background: #F7F7F7;
}
.container-body {
    margin: 0 auto;
    max-width: 1500px;
}

img {
    width: 100%;
}
a {
    color: #000000;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
        color: #000000;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}
.button-top {
    position: fixed;
    right: 40px;
    bottom: 50px;
    text-transform: uppercase;
    color: #fff;
    background: #9f9f9f;
    padding: 10px;
    font-family: -webkit-body;
    z-index: 99999;
    cursor: pointer;
    transition: 1s;
}
.header-logo {
    font-family: cursive;
}

.banner {
    img {
        width: 100%;
        max-height: 200px;
    }
    h2 {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        font-family: cursive;
        font-size: 50px;
        top: 50px;
        animation-name:move;
        animation-duration:10s;
        animation-iteration-count:infinite;
    }
}
.navbar-default {
    z-index: 1 !important;
}
@keyframes move{
    0%{
        top:0px;
        left:0px;
        color: red;
    }
    10%{
        top:0px;
        left:400px;
        color: green;
    }
    40%{
        top:100px;
        left:400px;
        color: blue;
    }
    100%{
        top:0px;
        left:0px;
        color: #8fdf6e;
    }
}

.header {
    position: sticky;
    top: 0;
    z-index: 99999;

    .container {
        height: auto !important;
    }
}
.navbar-brand{
            font-size:30px;
        }
.row{
    margin-right: 0;
    margin-left: 0;
}
.main {
    min-height: 80vh;

    // Home
    .home {
        margin-bottom: 100px;
        #carousel-banner {
            li.item-o {
                border: 1px solid #000000;
            }
            li.active {
                background: #000000;
            }
        }
        .box-banner-top {
            background: #fff;
            box-shadow: 2px 3px 10px 1px #f2f2f2;
            margin-bottom: 80px;
            margin-top: 50px;

            .box-right {
                h3 {
                    font-weight: 600;
                }
            }

            .box-left {
                padding: 0;
            }
        }

        .box-content {
            clear: both;

            img {
                width: 100%;
            }

            .content-left {
                padding: 0;
                .box-item-category {
                    padding: 0;
                    background: #fff;
                    box-shadow: 2px 3px 10px 1px #f2f2f2;
                    margin-bottom: 20px;

                    .right {
                        margin-top: -4px;
                        padding: 0 15px 15px 15px;
                    }

                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .title-category {
                        font-size: 23px;
                        text-transform: uppercase;
                        &:before {
                            content: "";
                            width: 20%;
                            border-top: 4px solid red;
                            position: absolute;
                            bottom: 0;
                        }
                    }
                }
            }
            .content-right {
                padding-right: 0;
                .box-content {
                    background: #fff;
                    padding: 20px;
                    .box-item {
                        clear: both;
                        .media-left {
                            width: 30%;
                        }
                        .media-body {
                            .media-heading {
                                font-weight: 600;
                                font-size: 21px;
                            }
                        }
                    }
                    .title-category {
                        position: relative;
                        padding-bottom: 15px;
                        margin-top: 0;
                        float:left;
                        margin-bottom: 30px;
                        font-weight: 600;
                        &:before {
                            content: "";
                            border-top: 3px solid red;
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                        }
                    }
                    .view-all-post {
                        float: right;
                    }
                }
            }
        }

        .box-highlights {
            background: #fff;
            title {
                font-weight: 600;

            }
            h3 {
                font-weight: 600;
            }
            .title-comment, .title-like {
                font-size: 20px;
            }
            .box-item {
                background: #fff;
                .caption {
                    min-height: 200px;
                }
            }
            ul {
                padding: 0 20px;
                li {
                    padding: 0 15px;
                    list-style: none;
                }
            }
        }

        .box-relate-to {
            margin-top: 50px;
            .thumbnail {
                border: none;
                .caption {
                    min-height: 200px;
                    h3 {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
            .title-top {
                h3 {
                    font-weight: 600;
                    text-align: center;
                    position: relative;
                    margin-bottom: 30px;
                    padding-bottom: 15px;
                    &:after {
                        margin: 0 auto;
                        content: '';
                        border-bottom: 3px solid red;
                        width: 120px;
                        position: absolute;
                        right: 0;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }

    }

    // --------- End home --------------

    // Post Detail

    .post-detail {
        margin-top: 40px;
        margin-bottom: 100px;
        .box-left {
            background: #fff;
            .top {
                margin-top: 30px;
                padding-bottom: 30px;
                .category {
                    float: left;
                    a {
                        color: red;
                    }
                }
                .date {
                    float: right;
                    font-weight: 600;
                }
            }
            .image {
                margin: 30px 0;
            }
            .title {
                clear: both;
                font-weight: 600;
            }
            .form {
                margin-bottom: 40px;
                button {
                    &:focus {
                        outline: none;
                    }
                }
            }
            .comment {

                .input-form {
                    margin-bottom: 15px;
                }
                .parent {
                    .media-left {
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                    .media-body {
                        h5 {
                            font-weight: 600;
                        }
                        span {
                            margin-right: 15px;
                            a {
                                color: #8d8d8d;
                            }
                        }
                        .child {
                            padding-left: 13px;
                            margin-top: 10px;
                            border-left: 2px solid #c3c3c3;
                        }

                    }
                }

            }
            .shore-more {
                margin: 30px 0;
                a {
                     display: block;
                    padding: 10px 5px;
                    background: #f7f7f7;
                    color: #007bff;
                    font-weight: 600;
                    transition: 0.9s;
                    &:hover {
                        background: #087CCE;
                        color: #fff;
                    }
                }
            }
        }
        .box-right {
            .title {
                margin: 0 0 20px;
                padding: 0;
                font-weight: 600;
            }
            .thumbnail {
                border: none;
                .caption {
                    h4 {
                        font-weight: 600;
                    }
                }
            }
        }
    }


    // ----------- End Post Detail ---------


}

.footer {
    border-top: 2px solid #e0e0e0;
    clear: both;
    min-height: 100px;
    h4 {
        line-height: 100px;
    }

}
// test

// code here


